.wrapper.style1 {
    background-color:#FFE3F1;
}
.wrapper.style1 h2 {
    color:black;
}
.wrapper.style1 header.major p {
    color:blueviolet;
}
#banner .more {
    display:none;
}
.wrapper.style3 {
    background-color: #303030;
}
.wrapper.style3 h2 {
    color: #ffe3f1;
}
.wrapper.style3 header.major p {
    color:#ffe3f1;
}
#menu {
    background:#303030;
    color:#ffe3f1;
}